body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  width: 230px;
  padding: 250px 0px 10px 0px;
}


.link {
  animation: blinker 2.5s cubic-bezier(.09,.7,1,.89) infinite;
}

.container:hover .link {
  animation: none;
}

@keyframes blinker {
  50% { opacity: 0.2; }
}

.contact {
  top: 60%;
}

.container {
  height: 70px;
  width: 200px;
  margin: 0px auto;
  padding: 0px 0px 20px 0px;
}

.container a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 23px;
  letter-spacing: 0.5px;
}

.container a:hover {
  font-size: 26px;
  transition: all 0.2s linear;
}

iframe {
  margin: 0px auto;
  width: 92px;
  height: 50px;
  overflow: hidden;
  border: none;
}

@media only screen and (max-width: 789px) {
  .app-logo {
    width: 150px;
    padding: 150px 0px 20px 0px;
  }
}
