body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  width: 220px;
  padding: 250px 0px 20px 0px;
}

.contact {
  top: 60%;
}

.contact a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.contact a:hover:before {
  transition: all 2s ease-in;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px; /* ADJUST HEIGHT TO ADD WEIGHT */
  background: black; /* CHANGE COLOR TO SUIT */
}

iframe {
  margin: 0px auto;
  width:200px;
  height: 200px;
  overflow: hidden;
  border: none;
}

@media only screen and (max-width: 789px) {
  .app-logo {
    width: 150px;
    padding: 150px 0px 20px 0px;
  }
}
